<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Tasty Eats</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>  
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <h1>Tasty Foods</h1>
        <br>
        {% for message in get_flashed_messages() %}
            <p> {{message}} </p>
        {% endfor %}
        <form action="recommendations" method="post">
            <input type="text" id="user_input" name="user_input">
            <button id="randomize" name="randomize"> Randomize </button>
            <br>
            <input type="submit" value="GET RECIPES" id="get_recipes">
        </form>
        <div>
            {% for message in results %}
                <p> {{message}} </p>
            {% endfor %}
        </div>
        <div id="tagChartDiv" style="visibility: {{ visibility }}";>
            <canvas id="tagChart" width="900" height="400"></canvas>
            <script>
                var tag = document.getElementById("tagChart").getContext('2d');
                var tagChart = new Chart(tag, {
                    type: 'bar',
                    data: {
                        labels: {{ tag_labels | safe }},
                        datasets: [
                            {
                                label: "# of Uses",
                                data: {{ tag_values | safe }},
                                fill: false,
                                backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(255, 159, 64, 0.2)',
                                'rgba(255, 205, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(201, 203, 207, 0.2)'
                                ],
                                borderColor: [
                                'rgb(255, 99, 132)',
                                'rgb(255, 159, 64)',
                                'rgb(255, 205, 86)',
                                'rgb(75, 192, 192)',
                                'rgb(54, 162, 235)',
                                'rgb(153, 102, 255)',
                                'rgb(201, 203, 207)'
                                ],
                                borderWidth: 1
                            }
                        ]
                    },
                    options: {
                        responsive: false,
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        },
                        plugins: {
                            title: {
                                display: true,
                                text: 'Top 10 Tags'
                            }
                        }
                    }
                });
            </script>
        </div>
        <div id="ratingChartDiv" style="visibility: {{ visibility }}">
            <canvas id="ratingChart" width="900" height="400"></canvas>
            <script>
                var rating = document.getElementById("ratingChart").getContext('2d');
                var ratingChart = new Chart(rating, {
                    type: 'line',
                    data: {
                        labels: {{ rating_labels | safe }},
                        datasets: [
                            {
                                label: "Average Rating",
                                data: {{ avgRating_values | safe }},
                                fill: true,
                                borderColor: [
                                'rgb(255, 99, 132)'
                                ],
                                borderWidth: 1,
                                tension: 0.1
                            }, {
                                label: "Number of Ratings",
                                data: {{ numRating_values | safe }},
                                fill: true,
                                borderColor: [
                                'rgb(75, 192, 192)'
                                ],
                                borderWidth: 1,
                                tension: 0.1
                            }
                        ]
                    },
                    options: {
                        responsive: false,
                        scales: {
                            y: {
                                beginAtZero: true,
                                title: {
                                    display: true,
                                    text: 'Rating'
                                }
                            },
                            x: {
                                title: {
                                    display: true,
                                    text: 'Recipe ID'
                                }
                            }
                        },
                        plugins: {
                            title: {
                                display: true,
                                text: 'Average Rating vs. Number of Ratings'
                            }
                        }
                    }
                });
            </script>
        </div>
        <div id="nutritionChartDiv" style="visibility: {{ visibility }}">
            <canvas id="nutritionChart" width="900" height="800"></canvas>
            <script>
                var rating = document.getElementById("nutritionChart").getContext('2d');
                var ratingChart = new Chart(rating, {
                    type: 'radar',
                    data: {
                        labels: {{ nutri_labels | safe }},
                        datasets: [
                            {
                                label:
                                    {% if nutri_ids is defined %} 
                                        {{ nutri_ids[0] | safe }}
                                    {% endif %},
                                data: 
                                    {% if nutri_ids is defined %} 
                                        {{ nutri_data[0] | safe }}
                                    {% endif %}, 
                                fill: false,
                                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                borderColor: 'rgb(255, 99, 132)',
                                pointBackgroundColor: 'rgb(255, 99, 132)',
                                pointBorderColor: '#fff',
                                pointHoverBackgroundColor: '#fff',
                                pointHoverBorderColor: 'rgb(255, 99, 132)'
                            }, {
                                label:
                                    {% if nutri_ids is defined %} 
                                        {{ nutri_ids[1] | safe }}
                                    {% endif %},
                                data: 
                                    {% if nutri_ids is defined %} 
                                        {{ nutri_data[1] | safe }}
                                    {% endif %},
                                fill: false,
                                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                borderColor: 'rgb(54, 162, 235)',
                                pointBackgroundColor: 'rgb(54, 162, 235)',
                                pointBorderColor: '#fff',
                                pointHoverBackgroundColor: '#fff',
                                pointHoverBorderColor: 'rgb(54, 162, 235)'
                            }, {
                                label:
                                    {% if nutri_ids is defined %} 
                                        {{ nutri_ids[2] | safe }}
                                    {% endif %},
                                data: 
                                    {% if nutri_ids is defined %} 
                                        {{ nutri_data[2] | safe }}
                                    {% endif %},
                                fill: false,
                                backgroundColor: 'rgba(252, 186, 3, 0.2)',
                                borderColor: 'rgb(252, 186, 3)',
                                pointBackgroundColor: 'rgb(252, 186, 3)',
                                pointBorderColor: '#fff',
                                pointHoverBackgroundColor: '#fff',
                                pointHoverBorderColor: 'rgb(252, 186, 3)'
                            }
                        ]
                    },
                    options: {
                        responsive: false,
                        elements: {
                            line: {
                                borderWidth: 3
                            }
                        },
                        plugins: {
                            title: {
                                display: true,
                                text: 'Nutritional Comparison Chart'
                            }
                        }
                    }
                });
            </script>
        </div>
        <script>
            $( function() {
                $.ajax({
                    url: '{{ url_for("autocomplete") }}'
                }).done(function (data) {
                    $('#user_input').autocomplete({
                        source: function(request, response) {
                            var results = $.ui.autocomplete.filter(data, request.term);

                            response(results.slice(0, 10))
                        }
                    })
                })
            });
        </script>
        <script>
            $( function () {
                $('#randomize').on('click', function(e) {
                    e.preventDefault()
                    $.ajax({
                        url: '{{ url_for("randomize") }}'
                    }).done(function (data) {
                        $('#user_input').val(data)
                    })
                })
            })
        </script> 
    </body>
</html>
